{% extends "layouts/manager_base.html" %}

{% block title %} Balance Sheet {% endblock %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Manager</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Manager</a></li>
                    <li class="breadcrumb-item"><a href="#">Balance Sheet</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">Transaction ID</th>
                                    <th scope="col">User ID</th>
                                    <th scope="col">Transaction Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Transaction Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <th scope="row">{{ transaction[0] }}</th>
                                        <td>{{ transaction[1] }}</td>
                                        <td>{{ transaction[2] }}</td>
                                        <td>{{ transaction[3] }}</td>
                                        <td>{{ transaction[4] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="modal fade" id="verticalycentered" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Vertically Centered</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta
                                            at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in
                                            facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est
                                            facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Vertically centered Modal-->

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main><!-- End #main -->
{% endblock %}


