{% extends "layouts/trainee_base.html" %}
{% block title %} Arrange New Meeting {% endblock %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Arrange New Meeting</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('trainee.dashboard_view') }}">Trainee</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('trainee.get_meetings_view') }}">Meetings</a></li>
                    <li class="breadcrumb-item"><a href="#">Create</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Meeting Details</h5>
                            <!-- Horizontal Form -->
                            <form method="POST"
                                  action="{{ url_for('trainee.handle_meeting_add',  registration_id=registration_record[0]) }}">
                                <div class="row mb-3">
                                    <label for="details" class="col-sm-2 col-form-label">Meeting Details</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="details" name="details">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="advisor" class="col-sm-2 col-form-label">Advisor</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="advisor" name="advisor"
                                               value="{{ registration_record.advisorID }}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="trainee" class="col-sm-2 col-form-label">Trainee</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="trainee" name="trainee"
                                               value="{{ registration_record.traineeID }}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="start" class="col-sm-2 col-form-label">Start Datetime</label>
                                    <div class="col-sm-10">
                                        <input type="datetime-local" class="form-control" id="start" name="start">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="end" class="col-sm-2 col-form-label">End Datetime</label>
                                    <div class="col-sm-10">
                                        <input type="datetime-local" class="form-control" id="end" name="end">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                    <button type="reset" class="btn btn-secondary">Reset</button>
                                </div>
                            </form><!-- End Horizontal Form -->
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class="flash-messages">
                                        {% for message in messages %}
                                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                                                 role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close btn-close-white"
                                                        data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}


